.DisplayResults {
  background-color: #b8bfcf;
  padding: 25px 25px 30px 25px;
}
.DisplayResults h3 {
  padding-bottom: 15px;
  font-family: "Courgette", cursive;
}
.Meanings h5 {
  font-family: "Courgette", cursive;
}
